.arrow {
    animation: moveUpDown 0.5s infinite alternate;
}

.arrow.ascending {
    animation-name: moveUpAscending;
}

.arrow.descending {
    animation-name: moveDownDescending;
}

@keyframes moveUpAscending {
    from { transform: translateY(-5px); }
    to   { transform: translateY(5px); }
}

@keyframes moveDownDescending {
    from { transform: translateY(-5px); }
    to   { transform: translateY(5px); }
}