.custom-record-border {
    --borderWidth: 2px;
    position: relative;
    border-radius: var(--borderWidth);
    z-index: revert;
    margin-bottom: 15px;
    width: 50%;

    @media (max-width: 821px) {
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: 100.2%;
        width: 100.3%;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        filter: blur(6px);
        @media (max-width: 821px) {
            width: 101%;
            height: 101%;
        };
    }
}
.default-border {
    width: 96%;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.none-border {
    width: 96%;
}
.in-desktop {
    justify-content: center;
    @media (max-width: 821px) {
        justify-content: normal;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.underline-border {
    position: relative;
    margin: 30px auto 0;
    border-radius: 1px;
}

.underline-border:before, .underline-border:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100%);
    height: calc(100%);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* 새 기록 effect */
@keyframes bg-effect {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: initial;
    }
}

.button-box {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
.bg-effect {
    animation: bg-effect 1s;
}

}